@font-face {
  font-family: Hopalong;
  src: url(./assets/fonts/HopalongBold-LOvD.ttf);
}

@font-face {
  font-family: Comfortaa;
  font-weight: bold;
  src: url(./assets/fonts/Comfortaa-Bold.ttf);
}

@font-face {
  font-family: Comfortaa;
  font-weight: normal;
  src: url(./assets/fonts/Comfortaa-Regular.ttf);
}

:root {
  font-family: Comfortaa, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}
